<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lego Collection</title>
    <link rel="stylesheet" href="/css/main.css" />
  </head>

  <script>
    document.addEventListener("DOMContentLoaded", () => {
        fetch('https://quotable.io/random')
            .then((response) => response.json())
            .then((json) => {
                const quoteElement = document.getElementById('randomQuote');
                quoteElement.textContent = `"${json.content}" - ${json.author}`;
            })
            .catch(error => console.error('Error fetching quote:', error));
    });
</script>


  <body tabindex="-1">
    <!-- responsive nav bar -->
    <%- include('partials/navbar', {page: '/lego/sets/:id'}) %>

    <!-- container mx-auto -->
    <div class="container mx-auto">
      <div class="hero bg-base-200 rounded-lg p-6">
        <div class="hero-content text-center">
          <div class="max-w-md">
            <h1 class="text-5xl font-bold">Collection</h1>
            <p class="py-6">Below, you will find detailed information about the set: <%= set.Theme.name %> 
          </div>
        </div>
      </div>
      <br>

      <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
        <div>
          <img class="w-full rounded-lg" src="<%= set.img_url %>" alt=" Set Image">
  
        </div>
        <div class="prose">
  
         <p>
          <span class="font-bold">Set Name: </span> <%= set.name %> <br>
          <span class="font-bold">Year Released: </span> <%= set.year %> <br>
          <span class="font-bold">Theme: </span> <%= set.Theme.name %> <br>
          <span class="font-bold">Number of Parts: </span> <%= set.num_parts %> <br><br>
  
          <span id="randomQuote"></span>
          <br><br>
          
          <% if (session && session.user) { %>
            <a class="btn bg-purple-500 text-white btn-sm" href="/lego/editSet/<%= set.set_num %>">EDIT SET: <%= set.name %> </a>
          <% } %>

          <a class="btn btn-primary btn-sm" href="#" onclick="history.back(); return false;">RETURN</a>
         </p>
  
        </div>

    </div>    

  </body>

  
    
</html>
